/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.home-page__header
  display flex
  position relative
  justify-content center
  align-items flex-start
  width 100%
  

.home-page__main-title
  text-align left
  padding-right 10px
  margin-bottom 10px

.home-page__logo
  display flex
  margin 25px auto
  width 230px
  height 230px
  border-radius 50%

.home-page__datetime
  width: 100%
  padding: 4px
  text-align center

.home-page__datetime__time
  font-size 30px

.home-page__datetime__date
  font-size 18px

.home-page__explore 
  margin: 15px auto;
  padding 6px 4px
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  font-size: 30px;

.home-page__search-box 
  display flex
  justify-content center

  @media screen and (max-width: 719px)
    justify-content flex-end